<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Site</title>
</head>
<body>
    <a href="{{url('index')}}">返回列表</a>
    <form action="" method="post">
        site name: <input type="text" name="name" placeholder="site name"><br><br>
        site link: <input type="text" name="link" placeholder="site link"><br><br>
        <button type="submit">提交</button>
    </form>
</body>
</html>